@model IEnumerable<HVM_2._0.Models.Creneau>
@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>

<form method="post" action="/Visiteurs/Index/@HVM_2._0.Models.Visiteur.codeVisit">
    <select name="Creneaux">
        @foreach (var item in Model)
        {
            <option>@item.date</option>
        }
    </select>
    <input type="submit" class="btn btn-default" id="next" value="Suivant"/>
</form>
    


    
