@model IEnumerable<HVM_2._0.Models.Creneau>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <div>
        <ul>
            <span class="description">
                Shared publicity - @DateTime.Now.ToString()
            </span>
        </ul>
        <ul>
            <span class="description">
                test - @DateTime.Now.ToLocalTime()
            </span>
        </ul>
        <ul>
            @DateTime.Now.AddDays(15)
        </ul>
    </div>

</table>

@foreach ( var item in Model)
{
    <div>
        <ul>
            @item.date
        </ul>
    </div>
}