<!-- HOME/INDEX-->

@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">

    function handleClick(myRadio) {

        if (myRadio.value == "Visiteur") {
            document.getElementById("loginFormVisiteur").style.visibility = "visible";
            document.getElementById("loginFormPatient").style.visibility = "hidden";
        }

        else {
            document.getElementById("loginFormVisiteur").style.visibility = "hidden";
            document.getElementById("loginFormPatient").style.visibility = "visible";
        }

    }

    function verifNumber(evt) {
        var keyCode = evt.which ? evt.which : evt.keyCode;
        var accept = '0123456789';
        if (accept.indexOf(String.fromCharCode(keyCode)) >= 0) {
            return true;
        } else {
            return false;
        }
    }

    function verifLetter(evt) {
        var keyCode = evt.which ? evt.which : evt.keyCode;
        var accept = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJLMNOPQRSTUVWXYZ./*-+';
        if (accept.indexOf(String.fromCharCode(keyCode)) >= 0) {
            return true;
        } else {
            return false;
        }
    }

</script>

<div class="row">
    <div class="" id="wrapper">
        <!-- Formulaire Visiteur -->
        <div class="leftForm">

            <p style="text-align:center;margin-top:10px"><input type="button" id="contactchoice1" name="contactVisiteur" value="Visiteur" onclick="handleClick(this)" style="width:250px;height:auto;font-size:25px" /></p>
            <form method="post" action="/Home/Index">
                <section id="loginFormVisiteur" style="visibility:hidden;text-align:center" value="loginFormVisiteur">

                    <h4>Utilisez le numéro de dossier du patient</h4>
                    <hr style="border-top: 1px solid"/>

                    <div class="form-group">
                        <input type="text" name="codeVisiteur" onkeypress="return verifNumber(event)"/>
                    </div>

                    <hr style="border-top: 1px solid"/>

                    <div class="form-group">
                        <input type="submit" value="Connexion" class="btn btn-default" style="background-color:palegreen" />
                    </div>

                </section>
            </form>
        </div>
        <!-- Fin Formulaire Visiteur -->
        <!-- Formulaire Patient -->
        <div class="rightForm">

            <p style="text-align:center;margin-top:10px"><input type="button" id="contactchoice2" name="contactPatient" value="Patient" onclick="handleClick(this)" style="width:250px;height:auto;font-size:25px" /></p>
            <form method="post" action="/Home/Index">
                <section id="loginFormPatient" style="visibility:hidden;text-align:center" value="loginFormPatient">

                    <h4>Identifiant :</h4>

                    <div class="form-group">
                        <input type="text" name="p_Patient" onkeypress="return verifLetter(event)" />
                    </div>
                    <hr style="border-top: 1px solid"/>
                    <h4>Mot de passe :</h4>

                    <div>
                        <input type="password" name="pass" />
                    </div>
                    <hr style="border-top: 1px solid"/>
                    <div class="form-group">
                        <input type="submit" value="Connexion" class="btn btn-default" style="background-color:palegreen" />
                    </div>
                </section>
            </form>
        </div>
        <!-- Fin Formulaire Patient -->
    <div />
</div>