<!-- PATIENTS/INDEX-->
@using System.Collections.Generic

@model HVM_2._0.Models.all


@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Validation des visites</h2>


@{ int idPatient = 0;
    String nomVisiteur = null;
    String prenomVisiteur = null;
    foreach (var item in Model.crenaux)
    {
        foreach (var usr in Model.patients)
        {
            if (Session["p_Patient"].ToString() == usr.login.Trim())
            {
                idPatient = usr.id_patient;
            }
        }

        foreach (var res in Model.reserves)
        {
            if (res.id_Creneau == item.id_creneau)
            {
                foreach (var vis in Model.visiteurs)
                {
                    if (res.id_Visiteur == vis.id_Visiteur)
                    {
                        prenomVisiteur = vis.prenom;
                        nomVisiteur = vis.nom;
                    }
                }
            }
        }

        if (item.id_patient == idPatient && item.reserve == true)
        {
        <form method="post" action="/Patients/Index" style="text-align:center,left;margin-top:8px;">
            <hr style="border-top: 1px solid"/>
            <div style="font-size:17px">
                <label for="valid" style="display:block;width:490px;float:left">@item.date | par @prenomVisiteur @nomVisiteur </label>
                <input type="hidden" name="idCreneau" value="@item.id_creneau" />
                <input id="valid" type="submit" class="btn btn-default" name="accept" value="Valider" style="background-color:palegreen;margin-left:15px" />
                <input type="submit" class="btn btn-default" name="refus" value="Refuser" style="background-color:lightcoral;" />
            </div>
        </form>

        }
    }
}
