@model HVM_2._0.Models.all


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action="/Patients/Index">
    <select name="CreneauxPris">
        @{int idPatient = 0 ;
        foreach (var item in Model.crenaux)
        {
            foreach (var usr in Model.patients)
            {
                if (Session["p_Patient"].ToString() == usr.login.Trim())
                {
                    idPatient = usr.id_patient;
                }
            }
            if (item.id_patient == idPatient)
            {
                <option>@item.date</option>
            }
        }
            }

    </select>
    <input type="submit" class="btn btn-default" name="accept" value="Accept" />
    <input type="submit" class="btn btn-default" name="refus" value="Decline" />
</form>

<table>

</table>