<link rel="Shortcut Icon" href="favicon.ico" type="image/x-icon" />
@{
    ViewBag.Title = "Envoi Mail";
}

<h2>Mail</h2>

<form method="post" action="/Patients/Mail/">
    <div>
        <label>Envoyer le mail de confirmation</label>
        <input type="button" name="sendMailConf" />
    </div>
</form>